body{
    background: url("https://t4.ftcdn.net/jpg/05/21/18/03/360_F_521180377_2iAVJqBQSo3cgKaVp8vMBR8asrC61DoU.jpg")no-repeat;
    background-size: 120rem;
    font-family: "Savoye LET";
    background-color: dimgrey;
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}