body{
    background: url("https://mobimg.b-cdn.net/v3/fetch/05/05eeb93a2e41734ecb6044146351f11e.jpeg")no-repeat;
    background-size: 120rem;
    font-family: "Tamil MN";
    background-color: seagreen;
    color: darkviolet;
    font-size: 20px;
    text-align: center;
}