body{
    background: url("https://assets2.razerzone.com/images/pnx.assets/618c0b65424070a1017a7168ea1b6337/razer-wallpapers-page-hero-mobile.jpg")no-repeat;
    background-size: 120rem;
    font-family: Zapfino;
    background-color: dimgrey;
    color: cyan;
    font-size: 15px;
    text-align: center;
}